@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bevan:ital@1&family=Montserrat+Alternates&family=Nunito:wght@300;600&display=swap');
$cursiva:'Alfa Slab One', cursive;


// VARIABLES
$textXxxl:9rem;
$textXl:4rem;
$textLg:3rem;
$textMd:2rem;
$textSm:1rem;
